HISTFILE=$HOME/.zsh_history
HISTSIZE=1000
SAVEHIST=10000
setopt extended_history
setopt share_history
setopt hist_ignore_dups

alias zj="zellij"
alias yz="yazi"
alias gu="gitui"
alias cdghq='cd $(ghq root)/$(ghq list | peco --select-1)'

export EDITOR="{{ .editor }}"

eval "$(zoxide init zsh)"

{{ if eq .chezmoi.os "darwin" -}}
eval "$(/opt/homebrew/bin/brew shellenv zsh)"
{{ end -}}
{{ if eq .chezmoi.os "linux" -}}
{{ end -}}
