[[plugins]]
repo = 'vim-denops/denops.vim'

[[plugins]]
repo = 'vim-denops/denops-helloworld.vim'

[[plugins]]
repo = 'Shougo/dpp.vim'

[[plugins]]
repo = 'Shougo/dpp-ext-installer'

[[plugins]]
repo = 'Shougo/dpp-ext-lazy'

[[plugins]]
repo = 'Shougo/dpp-ext-toml'

[[plugins]]
repo = 'Shougo/dpp-protocol-git'

[[plugins]]
repo = 'Shougo/ddc.vim'
hook_add = '''
call ddc#custom#patch_global('ui', 'pum')
call ddc#custom#patch_global('autoCompleteDelay', 200)
call ddc#custom#patch_global('sources', ['lsp'])
call ddc#custom#patch_global('sourceOptions', {
\ '_': {
\   'minAutoCompleteLength': 1,
\   'matchers': ['matcher_fuzzy'],
\   'sorters': ['sorter_fuzzy'],
\ },
\ 'lsp': {
\   'mark': '[LSP]',
\   'ignoreCase': v:true,
\   'dup': 'keep',
\   'isVolatile': v:true,
\   'forceCompletionPattern': '\.\w*|:\w*|->\w*',
\ }})
call ddc#custom#patch_global('sourceParams', {
\ 'lsp': {
\   'lspEngine': 'vim-lsp',
\   'enableResolveItem': v:true,
\   'enableAdditionalTextEdit': v:true,
\ }})
call ddc#enable()
call popup_preview#enable()
'''

[[plugins]]
repo = 'Shougo/ddc-ui-pum'

[[plugins]]
repo = 'Shougo/pum.vim'
hook_source = '''
inoremap <C-n>   <Cmd>call pum#map#insert_relative(+1)<CR>
inoremap <C-p>   <Cmd>call pum#map#insert_relative(-1)<CR>
inoremap <C-y>   <Cmd>call pum#map#confirm()<CR>
inoremap <C-e>   <Cmd>call pum#map#cancel()<CR>
inoremap <PageDown> <Cmd>call pum#map#insert_relative_page(+1)<CR>
inoremap <PageUp>   <Cmd>call pum#map#insert_relative_page(-1)<CR>
'''

[[plugins]]
repo = 'Shougo/ddc-source-lsp'

[[plugins]]
repo = 'prabirshrestha/vim-lsp'
hook_source = '''
if executable('vtsls')
  autocmd User lsp_setup call lsp#register_server({
  \ 'name': 'vtsls',
  \ 'cmd': {server_info->['vtsls', '--stdio']},
  \ 'allowlist': ['typescript', 'typescriptreact'],
  \ })
endif

function! s:on_lsp_buffer_enabled() abort
    setlocal omnifunc=lsp#complete
    if exists('+tagfunc') | setlocal tagfunc=lsp#tagfunc | endif
    nmap <buffer> gd <plug>(lsp-definition)
    nmap <buffer> gr <plug>(lsp-references)
    nmap <buffer> gi <plug>(lsp-implementation)
    nmap <buffer> gt <plug>(lsp-type-definition)
    nmap <buffer> <leader>rn <plug>(lsp-rename)
    nmap <buffer> [g <plug>(lsp-previous-diagnostic)
    nmap <buffer> ]g <plug>(lsp-next-diagnostic)
    nmap <buffer> K <plug>(lsp-hover)
    nnoremap <buffer> <expr><c-f> lsp#scroll(+4)
    nnoremap <buffer> <expr><c-b> lsp#scroll(-4)
endfunction

augroup lsp_install
    au!
    " call s:on_lsp_buffer_enabled only for languages that has the server registered.
    autocmd User lsp_buffer_enabled call s:on_lsp_buffer_enabled()
augroup END
'''

[[plugins]]
repo = 'tani/ddc-fuzzy'

[[plugins]]
repo = 'matsui54/denops-popup-preview.vim'

[[plugins]]
repo = 'mhinz/vim-signify'

[[plugins]]
repo = 'Shougo/ddu.vim'
hook_source = '''
call ddu#custom#patch_local('filer', {
\ 'ui': 'filer',
\ 'sources': [{ 'name': 'file' }],
\ 'sourceOptions': {
\   '_': {
\     'ignoreCase': v:true,
\     'columns': ['icon_filename'],
\     'matchers': ['matcher_substring'],
\   },
\ },
\ 'kindOptions': {
\   'file': {
\     'defaultAction': 'open',
\   },
\ },
\ 'uiParams': {
\   '_': {
\     'split': 'no',
\     'sort': 'filename',
\     'sortTreesFirst': v:true,
\   },
\ },
\ 'columnParams': {
\   'icon_filename': {
\     'defaultIcon': { 'icon': '' },
\   },
\ }})
autocmd FileType ddu-filer call s:ddu_filer_settings()
function! s:ddu_filer_settings() abort
  setlocal cursorline
  nnoremap <buffer><silent><expr> <cr>
  \ ddu#ui#get_item()->get('isTree', v:false) ?
  \ "<cmd>call ddu#ui#do_action('itemAction', { 'name': 'narrow' })<cr>" :
  \ "<cmd>call ddu#ui#do_action('itemAction', { 'name': 'open' })<cr>"
  nnoremap <buffer><silent> q
  \ <cmd>call ddu#ui#do_action('quit')<cr>
  nnoremap <buffer><silent> n
  \ <cmd>call ddu#ui#do_action('itemAction', { 'name': 'newFile' })<cr>
  nnoremap <buffer><silent> d
  \ <cmd>call ddu#ui#do_action('itemAction', { 'name': 'delete' })<cr>
  nnoremap <buffer><silent> c
  \ <cmd>call ddu#ui#do_action('itemAction', { 'name': 'copy' })<cr>
  nnoremap <buffer><silent> p
  \ <cmd>call ddu#ui#do_action('itemAction', { 'name': 'paste' })<cr>
  nnoremap <buffer><silent> r
  \ <cmd>call ddu#ui#do_action('itemAction', { 'name': 'rename' })<cr>
  nnoremap <buffer><silent> m
  \ <cmd>call ddu#ui#do_action('itemAction', { 'name': 'move' })<cr>
  nnoremap <buffer><silent> ..
  \ <cmd>call ddu#ui#do_action('itemAction', { 'name': 'narrow', 'params': { 'path': '..' } })<cr>
  nnoremap <buffer><silent> f
  \ <cmd>call ddu#ui#do_action('openFilterWindow')<cr>
  nnoremap <buffer><silent> v
  \ <cmd>call ddu#ui#do_action('togglePreview')<cr>
endfunction

nnoremap <leader>e <cmd>call ddu#start({ 'name': 'filer', 'searchPath': expand('%:p') })<cr>

call ddu#custom#patch_local('buffer', {
\ 'ui': 'ff',
\ 'sources': [{ 'name': 'buffer' }],
\ 'sourceOptions': {
\   '_': {
\     'ignoreCase': v:true,
\     'matchers': ['matcher_substring'],
\   },
\ },
\ 'kindOptions': {
\   '_': {
\     'defaultAction': 'open',
\   },
\ },
\ 'uiParams': {
\   '_': {
\     'ignoreEmpty': v:true,
\     'split': 'no',
\   },
\ },
\ 'columnParams': {
\   'icon_filename': {
\     'defaultIcon': { 'icon': '' },
\   },
\ }})
autocmd FileType ddu-ff call s:ddu_ff_settings()
function! s:ddu_ff_settings() abort
  setlocal cursorline
  nnoremap <buffer><silent> <cr>
  \ <cmd>call ddu#ui#do_action('itemAction', { 'name': 'open' })<cr>
  nnoremap <buffer><silent> q
  \ <cmd>call ddu#ui#do_action('quit')<cr>
  nnoremap <buffer><silent> d
  \ <cmd>call ddu#ui#do_action('itemAction', { 'name': 'delete' })<cr>
  nnoremap <buffer><silent> f
  \ <cmd>call ddu#ui#do_action('openFilterWindow')<cr>
  nnoremap <buffer><silent> v
  \ <cmd>call ddu#ui#do_action('togglePreview')<cr>
endfunction

nnoremap <leader>b <cmd>call ddu#start({ 'name': 'buffer' })<cr>

call ddu#custom#patch_local('fzf', {
\ 'ui': 'ff',
\ 'sources': [{ 'name': 'file_rec' }],
\ 'sourceOptions': {
\   '_': {
\     'ignoreCase': v:true,
\     'matchers': ['matcher_substring'],
\   },
\ },
\ 'sourceParams': {
\   '_': {
\     'ignoredDirectories': ['.git', 'node_modules', 'vendor', '.next'],
\   },
\ },
\ 'kindOptions': {
\   '_': {
\     'defaultAction': 'open',
\   },
\ },
\ 'uiParams': {
\   '_': {
\     'ignoreEmpty': v:true,
\     'split': 'no',
\   },
\ },
\ 'columnParams': {
\   'icon_filename': {
\     'defaultIcon': { 'icon': '' },
\   },
\ }})

nnoremap <leader>ff <cmd>call ddu#start({ 'name': 'fzf' })<cr>

if exists('g:loaded_ddu_filer_hijack')
  finish
endif
let g:loaded_ddu_filer_hijack = 1


" netrwを無効化
function! s:suppress_netrw() abort
  if exists('#FileExplorer')
    autocmd! FileExplorer *
  endif
endfunction


" ディレクトリを編集対象として開く or ディレクトリを編集対象として開く
function! s:hijack_bufenter() abort
  let l:path = expand('%:p')
  if empty(l:path) || !isdirectory(l:path)
    return
  endif

  let l:bufnr = bufnr()
  call ddu#start({ 'name': 'filer', 'sourceOptions': { '_': { 'path': l:path } } })
  silent! execute 'bwipeout' l:bufnr
endfunction


" 起動ディレクトリとして扱う
function! s:hijack_argv() abort
  if argc() != 1
    return
  endif

  let l:path = fnamemodify(argv(0), ':p')
  if !isdirectory(l:path)
    return
  endif

  call ddu#start({ 'name': 'filer', 'sourceOptions': { '_': { 'path': l:path } } })
  silent! bwipeout!
endfunction


augroup ddu-filer-hijack
  autocmd!
  autocmd VimEnter * call s:suppress_netrw()
  autocmd VimEnter * call s:hijack_argv()
  autocmd BufEnter * ++nested call s:hijack_bufenter()
augroup END
'''

[[plugins]]
repo = 'Shougo/ddu-ui-filer'

[[plugins]]
repo = 'Shougo/ddu-source-file'

[[plugins]]
repo = 'Shougo/ddu-kind-file'

[[plugins]]
repo = 'ryota2357/ddu-column-icon_filename'

[[plugins]]
repo = 'ryanoasis/vim-devicons'

[[plugins]]
repo = 'Shougo/ddu-ui-ff'

[[plugins]]
repo = 'shun/ddu-source-buffer'

[[plugins]]
repo = 'Shougo/ddu-filter-matcher_substring'

[[plugins]]
repo = 'Shougo/ddu-source-file_rec'

[[plugins]]
repo = 'lambdalisue/vim-gin'

[[plugins]]
repo = 'Shougo/ddt.vim'
hook_add = '''
let g:denops#server#deno_args = [
\ '-q',
\ '-A'
\ ]
let g:denops#server#deno_args += ['--unstable-ffi']

call ddt#custom#patch_global('ui', 'shell')
call ddt#custom#patch_global('uiParams', {
\ 'shell': {
\   'prompt': '%',
\   'userPrompt': '"| " .. fnamemodify(getcwd(), ":~")',
\ }})

autocmd FileType ddt-shell call s:ddt_my_settings()
function! s:ddt_my_settings() abort
nnoremap <buffer> <C-n>
\ <cmd>call ddt#ui#do_action('nextPrompt')<cr>
nnoremap <buffer> <C-p>
\ <cmd>call ddt#ui#do_action('previousPrompt')<cr>
nnoremap <buffer> <C-y>
\ <cmd>call ddt#ui#do_action('pastePrompt')<cr>
nnoremap <buffer> <CR>
\ <cmd>call ddt#ui#do_action('executeLine')<cr>
endfunction

nnoremap <leader>s <cmd>call ddt#start()<cr>
'''

[[plugins]]
repo = 'Shougo/ddt-ui-shell'

[[plugins]]
repo = 'tpope/vim-commentary'

[[plugins]]
repo = 'sheerun/vim-polyglot'

# [[plugins]]
# repo = 'ghifarit53/tokyonight-vim'
# hook_add = '''
# let g:tokyonight_style = 'storm' " available: night, storm
# colorscheme tokyonight
# '''

[[plugins]]
repo = 'ojroques/vim-oscyank'
hook_add = '''
nnoremap <leader>c <Plug>OSCYankOperator
nnoremap <leader>cc <leader>c_
vnoremap <leader>c <Plug>OSCYankVisual
'''
