[user]
	name = {{ .name }}
	email = {{ .email }}

[core]
	editor = {{ .editor }}

[ghq]
	root = ~/Documents/ghq/

{{ if eq .chezmoi.hostname "laraochans-MacBook-Pro.local" -}}
[init]
	defaultBranch = main
{{ end -}}
